In [3]:
import pandas as pd

Data Loading/Reading

In [6]:
data=pd.read_csv('powerconsumption.csv')
df=pd.DataFrame(data)
df.head(10+1)

,Datetime,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964
5,1/1/2017 0:50,5.853,76.9,0.081,0.059,0.108,26624.81013,17416.41337,18130.12048
6,1/1/2017 1:00,5.641,77.7,0.080,0.048,0.096,25998.98734,16993.31307,17945.06024
7,1/1/2017 1:10,5.496,78.2,0.085,0.055,0.093,25446.07595,16661.39818,17459.27711
8,1/1/2017 1:20,5.678,78.1,0.081,0.066,0.141,24777.72152,16227.35562,17025.54217
9,1/1/2017 1:30,5.491,77.3,0.082,0.062,0.111,24279.49367,15939.20973,16794.21687
10,1/1/2017 1:40,5.516,77.5,0.081,0.051,0.108,23896.70886,15435.86626,16638.07229

Data Exploration

In [8]:
print(f"Number of rows are {df.shape[0]} \nNumber of Colomns are {df.shape[1]}")

Number of rows are 52416
Number of Colomns are 9

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52416 entries, 0 to 52415
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Datetime                52416 non-null  object
 1   Temperature             52416 non-null  float64
 2   Humidity                52416 non-null  float64
 3   WindSpeed               52416 non-null  float64
 4   GeneralDiffuseFlows     52416 non-null  float64
 5   DiffuseFlows            52416 non-null  float64
 6   PowerConsumption_Zone1  52416 non-null  float64
 7   PowerConsumption_Zone2  52416 non-null  float64
 8   PowerConsumption_Zone3  52416 non-null  float64
dtypes: float64(8), object(1)
memory usage: 3.6+ MB

In [12]:
df.isnull().sum()

Datetime                  0
Temperature               0
Humidity                  0
WindSpeed                 0
GeneralDiffuseFlows       0
DiffuseFlows              0
PowerConsumption_Zone1    0
PowerConsumption_Zone2    0
PowerConsumption_Zone3    0
dtype: int64

In [13]:
df.count()

Datetime                  52416
Temperature               52416
Humidity                  52416
WindSpeed                 52416
GeneralDiffuseFlows       52416
DiffuseFlows              52416
PowerConsumption_Zone1    52416
PowerConsumption_Zone2    52416
PowerConsumption_Zone3    52416
dtype: int64

In [14]:
df.nunique()

Datetime                  52416
Temperature                3437
Humidity                   4443
WindSpeed                   548
GeneralDiffuseFlows       10504
DiffuseFlows              10449
PowerConsumption_Zone1    27709
PowerConsumption_Zone2    29621
PowerConsumption_Zone3    22838
dtype: int64

In [15]:
df['DiffuseFlows'].unique()

array([ 0.119,  0.085,  0.1  , ..., 16.39 , 10.12 ,  2.618])

In [17]:
print("All colomns are ")
for i in df.columns:
    print(i)

All colomns are
Datetime
Temperature
Humidity
WindSpeed
GeneralDiffuseFlows
DiffuseFlows
PowerConsumption_Zone1
PowerConsumption_Zone2
PowerConsumption_Zone3

In [18]:
df.describe()

,Temperature,Humidity,WindSpeed,GeneralDiffuseFlows,DiffuseFlows,PowerConsumption_Zone1,PowerConsumption_Zone2,PowerConsumption_Zone3
count,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000,52416.000000
mean,18.810024,68.259518,1.959489,182.696614,75.028022,32344.970564,21042.509082,17835.406218
std,5.815476,15.551177,2.348862,264.400960,124.210949,7130.562564,5201.465892,6622.165099
min,3.247000,11.340000,0.050000,0.004000,0.011000,13895.696200,8560.081466,5935.174070
25%,14.410000,58.310000,0.078000,0.062000,0.122000,26310.668692,16980.766032,13129.326630
50%,18.780000,69.860000,0.086000,5.035500,4.456000,32265.920340,20823.168405,16415.117470
75%,22.890000,81.400000,4.915000,319.600000,101.000000,37309.018185,24713.717520,21624.100420
max,40.010000,94.800000,6.483000,1163.000000,936.000000,52204.395120,37408.860760,47598.326360